body {
background-color: #EDEDED;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24pt;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72pt;
}
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30pt;
}
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24pt;
}
